.stepper-holder {
  width: 80%;
  direction: ltr;
  padding: 16px;
}

.stepper-container .admin > .MuiStepLabel-root > .MuiStepLabel-iconContainer {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.4s;
}
.stepper-container
  .admin
  > .MuiStepLabel-root
  > .MuiStepLabel-iconContainer:hover {
  opacity: 0.7;
}
.stepper-container
  .admin
  > .MuiStepLabel-root
  > .MuiStepLabel-iconContainer:active {
  opacity: 1.1;
}
