.app-container > .alert-holder {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  box-shadow: var(--cb-shadow-medium);
  transform: translateY(-150px);
  display: block;
  transition: all 1.5s ease-in-out;
}

.app-container > .alert-holder.alert-visible {
  opacity: 1;
  transform: translateY(0px);
}

.app-container > .alert-holder.alert-hidden {
  opacity: 0;
  transform: translateY(-150px);
}
