.app-container > .alert-holder {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  box-shadow: var(--cb-shadow-medium);
  transition: all 1.5s ease-in-out;
}

.app-container > .alert-holder.alert-visible {
  display: block;
  opacity: 1;
  /* transform: translateY(-100px); */
}

.app-container > .alert-holder.alert-hidden {
  display: none;
  opacity: 0;
  /* transform: translateY(0); */
}
