/* .errorInput {
  border: 0.1rem solid #dd340e;
} */
.c-signup-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.c-signup-container > h1 {
  margin-bottom: 1.5rem;
}
.c-signup-container > div {
  margin-bottom: 0.5rem;
}
